Repository JohnTurkson/crypto-trading-platform, pull requests merged in 2021-07, with the labels that each got.

#37 Frontend auth
  client/package.json
  client/src/App.tsx
  client/src/components/Navbar.tsx
  client/src/context/Auth.tsx
  client/src/pages/SignIn.tsx
  client/src/pages/SignUp.tsx
  client/src/requests/AuthRequests.tsx
  client/src/requests/DefaultRequest.tsx
Labels: client, login

#36 Charts
  client/package-lock.json
  client/package.json
  client/public/data/coins.json
  client/src/App.tsx
  client/src/components/Navbar.tsx
  client/src/components/Page.tsx
  client/src/components/Portfolio.tsx
  client/src/components/Trade.tsx
  client/src/components/data/Chart.tsx
  client/src/components/data/Coin.tsx
  client/src/components/data/btcdata.json
  client/src/containers/CoinList.tsx
  client/src/containers/CryptoPriceList.tsx
  client/src/index.tsx
  client/src/pages/CoinPage.tsx
  client/src/pages/Discover.tsx
  client/src/pages/Overview.tsx
  client/src/pages/Prices.tsx
  client/src/pages/TradePage.tsx
  client/tsconfig.json
Labels: client

#44 charts updates in real time
  client/src/components/data/Chart.tsx
Labels: charts
