Repository JohnTurkson/crypto-trading-platform, pull requests merged in 2021-06, with the labels that each got.

#26 Portfolio component
  client/package-lock.json
  client/package.json
  client/public/data/coins.json
  client/src/App.tsx
  client/src/components/Navbar.tsx
  client/src/components/Portfolio.tsx
  client/src/containers/CryptoPriceList.tsx
  client/src/pages/Prices.tsx
  client/src/pages/index.tsx
Labels: client, portfolio

#25 Add Navigation for Login Components
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/components/Navbar.tsx
  client/src/components/Page.tsx
  client/src/components/Portfolio.tsx
  client/src/components/SignIn.tsx
  client/src/components/SignUp.tsx
  client/src/pages/Landing.tsx
  client/src/pages/Overview.tsx
  client/src/pages/SignIn.tsx
  client/src/pages/SignUp.tsx
  client/src/pages/index.tsx
Labels: client, home, login

#30 Add Trade Component
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/Navbar.tsx
  client/src/pages/Trade.tsx
Labels: client, trade
